---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import BadgeAnimation from "../components/BadgeAnimation.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import CV from "../components/icons/CVIcon.astro";
import LinkButton from "../components/LinkButton.astro";
import Technologie from "../components/Technologie.astro";
import Education from "../components/Education.astro";
import EducationLink from "../components/EducationLink.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";

import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../i18n/utils";
import { languageList } from "../i18n/ui";
const currentLang = Astro.currentLocale || 'es';

const translateLabels = useTranslations (currentLang as keyof typeof languageList);
---

<Layout
  title="Portfolio de Satiago Vallejos - Full Stack Developer"
  description="Contrata a Santiago Vallejos para la creacion de tus proyectos. Programador Full Stack. Me epecializo en crear aplicaciones únicas."
>
  <!-- Presentacion -->
  <SectionContainer id="contacto/" class="py-44 pb-24 flex flex-col lg:flex-row items-center lg:items-start gap-8 p-2">
    <!-- Columna Izquierda -->
    <div class="flex flex-col gap-6 w-full lg:w-1/2 text-left">
      <h1 class="text-dark text-3xl text-center lg:text-start md:text-4xl lg:text-5xl font-bold dark:text-white">
        {translateLabels("presentation.h1")}
      </h1>
      <h2 class="text-xl text-center lg:text-start lg:text-2xl text-wrap max-w-[700px]">
        Soy <span class="text-yellow-500/90">Full Stack Developer</span>, de 
        <span class="text-sky-500/90">Corrientes, Argentina 🧉</span>.
      </h2>
      <nav class="grid grid-cols-2 gap-4 ">
        <LinkButton href="https://www.linkedin.com/in/santiago-vallejos-97a933236/">
          <LinkedinIcon class="size-5 md:size-6" /> LinkedIn
        </LinkButton>
        <LinkButton href="https://github.com/santvallejos">
          <GithubIcon class="size-5 md:size-6" /> GitHub
        </LinkButton>
        <LinkButton href="mailto:vallejossantiago1412@gmail.com">
          <MailIcon class="size-5 md:size-6" /> Mail
        </LinkButton>
        <LinkButton href="/SantiagoVallejosCV.pdf" download="SantiagoVallejosCV.pdf">
          <CV class="size-5 md:size-6" /> Descargar CV
        </LinkButton>
      </nav>
    </div>
  
    <!-- Columna Derecha -->
    <div class="flex flex-col items-center w-full lg:w-1/2 text-center gap-6">
      <img
        class="rounded-full w-40 h-40 md:w-48 md:h-48 lg:w-56 lg:h-56"
        src="../SantiagoPhotoColor.png"
        alt="Foto de Santiago"
      />
      <!-- Enlaces -->
      <div class="mt-4">
        <BadgeAnimation>{translateLabels("presentation.Badge")}</BadgeAnimation>
      </div>
    </div>
  </SectionContainer>
  
  <!-- Sobre mi -->
  <SectionContainer class="px-3 pb-2" id="sobre-mi/">
    <div class="flex flex-col gap-12 max-w-custom pt-20 pb-20">
      <div class="flex flex-col gap-3">
        <h2 class="text-4xl text-left">{translateLabels("section.Aboutme")}</h2>
        <AboutMe />
      </div>

      <!-- Educacion -->
      <div class="flex flex-col gap-3">
        <h3 class="text-left text-2xl font-medium">{translateLabels("section.studies")}</h3>
        <ul
          class="marker:text-primary list-disc text-lg flex flex-wrap"
        >
          <Education
            Estudio="Licenciatura en Sistemas de la Información"
            Institucion="Universidad nacional del nordeste (UNNE)"
            fecha="2022 - presente"
          />
          <EducationLink
            Estudio="Full Stack"
            Institucion="Devlights"
            fecha="2024 - 2024"
            skils=".Net, Angular, TypeScript, SignalR, Tailwind ,MS SQL Server, MongoDB, Git"
            link="/CertificadoDevlights.jpg"
          />
          <EducationLink
            Estudio="Full Stack"
            Institucion="Talentos Digitales"
            fecha="2023 - 2024"
            skils="NodeJS, PHP, Laravel, VueJS, MySQL, Bootstrap, Git"
            link="/CertificadoTalentosDigitales.png"
          />
          <EducationLink
            Estudio="Desarrollador Web"
            Institucion="CoderHouse"
            fecha="2023"
            skils="HTML, CSS, JavaScript"
            link="/CertificadoCoderHouse.png"
          />
        </ul>
      </div>

      <!-- Lista de tegnologias -->
      <div class="flex flex-col gap-5">
        <h3 class="text-left text-2xl font-medium">{translateLabels('section.technologie')}</h3>
        <div class="lg:w-[840px] mx-auto flex flex-col gap-7">

          <div>
          <h4 class="text-left font-semibold pb-2">Frontend</h4>
          <ul class="flex flex-wrap gap-6">
            <Technologie Src="/icons/html-52732337.svg" Name="HTML" />

            <Technologie Src="/icons/css-8e01670c.svg" Name="CSS" />

            <Technologie
            Src="/icons/javascript-0ac5e3cc.svg"
            Name="JavaScript"/>

            <Technologie
            Src="/icons/typescript-icon-svgrepo-com.svg"
            Name="Typescript"/>

            <Technologie Src="/icons/tailwind-2a43431b.svg" Name="Tailwind" ' />

            <Technologie Src="/icons/astro-svgrepo-com.svg" Name="Astro" />

            <Technologie Src="/icons/angular-svgrepo-com.svg" Name="Angular" />

            <Technologie Src="/icons/react-9fe43511.svg" Name="React" />

            <Technologie Src="/icons/vuejs.svg" Name="VueJs" />
          </ul>
        </div>

        <div>
          <h4 class="text-left font-semibold pb-2">Backend</h4>
          <ul class="flex flex-wrap gap-6">
            <Technologie Src="/icons/c-1.svg" Name="C" />
            
            <Technologie Src="/icons/c.svg" Name="C++" />
            
            <Technologie Src="/icons/csharp.svg" Name="C#"/>

            <Technologie Src="/icons/dotnet-svgrepo-com.svg" Name=".Net" />
            
            <Technologie Src="/icons/php3-svgrepo-com.svg" Name="PHP" />

            <Technologie Src="/icons/laravel-svgrepo-com.svg" Name="Laravel" />

            <Technologie Src="/icons/nodejs-icon-svgrepo-com.svg" Name="NodeJS" />
          </ul>
        </div>

        <div>
          <h4 class="text-left font-semibold pb-2">{translateLabels("technologie.database")}</h4>
          <ul class="flex flex-wrap gap-6">
            <Technologie Src="/icons/mysql-logo-svgrepo-com.svg" Name="MySQL" />

            <Technologie Src="/icons/sql-server.svg" Name="SQL Server" />

            <Technologie Src="/icons/mongo-svgrepo-com.svg" Name="MongoDB" />
          </ul>
        </div>

        <div>
          <h4 class="text-left font-semibold pb-2">{translateLabels("technologie.tools")}</h4>
          <ul class="flex flex-wrap gap-6">
            <Technologie Src="/icons/git-3f0b1bae.svg" Name="Git" />

            <Technologie Src="/icons/Github.svg" Name="Github" />

            <Technologie Src="/icons/postman-icon-svgrepo-com.svg" Name="Postman" />

            <Technologie Src="/icons/docker-svgrepo-com.svg" Name="Docker" />

            <Technologie Src="/icons/jira-svgrepo-com.svg" Name="Jira" />

            <Technologie Src="/icons/trello.svg" Name="Trello" />
          </ul>
        </div>
        </div>
      </div>
    </div>
  </SectionContainer>

  <SectionContainer class="px-3 pb-20" id="proyectos/">
    <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
      <CodeIcon class="size-7" />
      {translateLabels("section.projects")}
    </h2>
    <Projects />
  </SectionContainer>
</Layout>