---
import type { languageList } from '../i18n/ui';
import { useTranslations } from '../i18n/utils';

const currentLang = Astro.currentLocale || 'es';

const translateLabels = useTranslations (currentLang as keyof typeof languageList);
---

<p class="mb-4 text-xl">
    {translateLabels('about.1')} <strong class="text-blue-400 font-semibold">Full Stack Developer</strong> {translateLabels('about.2')}
</p>
<p class="mb-4 text-xl">
    {translateLabels('about.3')} <strong class="text-blue-400 font-semibold">{translateLabels('about.4')}</strong>
</p>
<p class="mb-4 text-xl">
    <strong class="text-blue-400 font-semibold">{translateLabels('about.5')}</strong> {translateLabels('about.6')} 
</p>