
<p class="mb-4 text-xl">
    Mi nombre es Santiago Vallejos, soy <strong class="text-blue-400 font-semibold">Full stack developer</strong> orientado más en el desarrollo backend, me apasiona mucho la tecnología y el desarrollo de software.
</p>
<p class="mb-4 text-xl">
    Actualmente estudio Licenciatura en Sistemas en la Universidad Nacional del Nordeste. Participe en varios programas donde tuve la posibilidad de <strong class="text-blue-400 font-semibold">destacar</strong> algunos de <strong class="text-blue-400 font-semibold">mis proyectos</strong> y <strong class="text-blue-400 font-semibold">trabajar en grupo</strong>
</p>
<p class="mb-4 text-xl">
    <strong class="text-blue-400 font-semibold">Mi objetivo</strong> es mejorar continuamente en el ámbito del desarrollo de software, aplicar mis conocimientos a proyectos reales y contribuir a su éxito. 
</p>