---
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../i18n/utils";
import { languageList } from "../i18n/ui";

const currentLang = Astro.currentLocale || 'es';

const translateLabels = useTranslations(currentLang as keyof typeof languageList);

const navItems = [
    {
        title: translateLabels("nav.about"),
        url: getRelativeLocaleUrl(currentLang, '/#sobre-mi')
    },
    {
        title: translateLabels("nav.projects"),
        url: getRelativeLocaleUrl(currentLang, '/#proyectos')
    },
    {
        title: translateLabels("nav.contact"),
        url: getRelativeLocaleUrl(currentLang, '/#contacto')
    }
];
---
<header
  class={`
    flex justify-center items-center
    mx-auto
    py-5
    sticky top-0
    w-full xl:w-[1120px]
    z-10
  `}
>
  <nav
    class={`
      border border-black rounded-full
      px-3 py-1
      flex flex-row items-center lg:gap-12
      bg-black/50
      backdrop-blur-2xl
    `}
  >
    {navItems.map(link => (
      <a
        class="text-white hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
        href={link.url}
      >
        {link.title}
      </a>
    ))}
    <a
      class="text-white hover:bg-white/10 rounded-full px-2 sm:px-3 transition text-sm sm:text-base"
      href={getRelativeLocaleUrl(currentLang === 'es' ? 'en' : 'es')}
    >
      {currentLang === 'es' ? 'English' : 'Spanish'}
    </a>
  </nav>
</header>

<script>
const $navAElements = [...document.querySelectorAll('header nav a')];

window.addEventListener('scroll', () => {
    let activeFound = false;

    $navAElements.forEach(a => {
        const selectionForSection = a.getAttribute('href')?.substring(1);
        const sectionElement = document.querySelector(selectionForSection || '');

        if (!sectionElement) return;

        // Calcula el rango visible para la sección
        const sectionTop = (sectionElement as HTMLElement).offsetTop - 150;
        const sectionBottom = sectionTop + (sectionElement as HTMLElement).offsetHeight;

        // Verifica si el scroll actual está dentro de esta sección
        if (window.scrollY >= sectionTop && window.scrollY < sectionBottom && !activeFound) {
            $navAElements.forEach(aToRemove => aToRemove.classList.remove('bg-white/15'));
            a.classList.add('bg-white/15');
            activeFound = true; // Marca como encontrado para evitar conflictos
        }
    });

    // Si no se encuentra ninguna sección activa (por ejemplo, al estar por encima de todas),
    // elimina cualquier clase activa de los elementos de navegación
    if (!activeFound) {
        $navAElements.forEach(aToRemove => aToRemove.classList.remove('bg-white/15'));
    }
});
</script>
